@* Copyright © 2019 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model IEnumerable<AspNetCoreContentLocalization.ViewModels.Shared.Book>
@inject IViewLocalizer Localizer
<h1>@Localizer["Books"]</h1>
<table class="content__table table" cellpadding="0" cellspacing="0">
  <tr class="table__row">
    <th class="table__cell table__cell--heading">@Localizer["ID"]</th>
    <th class="table__cell table__cell--heading">@Localizer["Name"]</th>
    <th class="table__cell table__cell--heading">@Localizer["Description"]</th>
    <th class="table__cell table__cell--heading">@Localizer["Author"]</th>
    <th class="table__cell table__cell--heading">@Localizer["Year"]</th>
    <th class="table__cell table__cell--heading">&nbsp</th>
  </tr>
  @foreach (var book in this.Model)
  {
    <tr class="table__row">
      <td class="table__cell">@book.Id</td>
      <td class="table__cell">@book.Name</td>
      <td class="table__cell">@book.Description</td>
      <td class="table__cell">@book.Author</td>
      <td class="table__cell">@book.Year</td>
      <td class="table__cell"><a href="/books/edit/@book.Id">@Localizer["Edit"]</a></td>
    </tr>
  }
</table>
<div class="content__buttons buttons">
  <a class="buttons__button button" href="/books/add">@Localizer["Add book"]</a>
</div>